.game-status-bar {
    font-size: 16px;
    padding: 10px;
    
    border: 1px solid #4ADE80;
    background-color: #86EFAC;
    color: #333;
    //border-radius: 5px;
    
    p {
        font-weight: 400;
    }

    span {
        font-weight: 500;
    }

}