.mytest {
    //background-color: red;


    margin: auto;

    padding-top: 200px;



    h1 {
        margin: 30px;
        font-weight: 400;
        font-size: 30px;
    }
}

.mytest2 {
    //display: flex;
    margin: auto;
    width: 100%;
    //background-color: blue;

    margin-bottom: 300px;
}