* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html,
body {
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #333;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  //justify-content: center;
  //align-items: center;
  flex-direction: column;
}

*:focus {
  outline: none !important;
}

.button--ok {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  justify-content: space-between;
  border: none;
  background-color: #84cc16;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;

  svg {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }
}

kbd {
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.not-found {
  height: 90vh;
  display: flex;
  align-items: center;

  h1 {
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 30px;
  }
}
