
.navbar {
    height: 60px;
    width: 60px;
    position: fixed;
    margin-bottom: 60px;
    z-index: 5; 

    ul {
        background: #dcdcdc;
        height: 100%;
        width: 0px; 
        position: fixed;
        left: -240px;
        flex-direction: column;
        transition: 300ms ease all;
        z-index: 15;
        margin-block-start: 0;
        
        &.active {
            left: 0px;
            width: 35%;
        }

        figure {
            position: fixed;
            left: 9px;
            top: 10px;
        }
    
        li {
            cursor: pointer;
        }

        a {
            color: #333;
            display: block;
            padding: 15px;  
            font-size: 20px;
            font-weight: 500;
            text-decoration: 0;
        }

        a:hover {
            background-color: gray;
        }
    }
}

.menu {
    margin: 60px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}